BACKEND_IMAGE={{ backend_image }}
FRONTEND_IMAGE={{ frontend_image }}

POSTGRES_DB={{ postgres_db }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_PORT={{ postgres_port }}

BACKEND_PORT={{ backend_port }}
FRONTEND_PORT={{ frontend_port }}
